<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task data</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-full bg-zinc-900 text-white p-10">
        <a href="/" class="text-blue-500 mb-10">Go Back to Home ></a>
        <h1 class="text-4xl tracking-tighter mb-4 mt-10"><%= filename %></h1>
        <div class="text-xl font-light"><%= filedetail %></div>
    </div>
</body>
</html>